@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
:root {
  --scale-factor: 0.86; /* 86% */
  --primary-bg: rgb(255, 248, 243);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open sans", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

html {
  font-size: 86%;
}

.btn-primary {
  padding: 1.125rem 2.25rem;
  border-radius: 5px;
  background: rgb(253, 110, 10);
  border: none;
  color: white;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.68rem;
  text-align: center;
  cursor: pointer;
}
.secondary-btn {
  padding: 1.052rem 2.25rem;
  border-radius: 5px;
  border: none;
  color: rgb(253, 110, 10);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.68rem;
  text-align: center;
  cursor: pointer;
  border: 1px solid rgb(253, 110, 10);
  background-color: transparent;
}
header {
  background: url("../assets/developer.png"), url(../assets/header_bg.png);
  background-repeat: no-repeat;
  background-size: auto 90%,
    calc(850px * var(--scale-factor)) calc(518px * var(--scale-factor));
  background-position: 20px 30px, right bottom;
  background-color: var(--primary-bg);
}

nav {
  padding: 43px 14.4rem 0 14.375rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .nav-title {
  font-size: 2.8rem;
  font-weight: 800;
  line-height: 3.8rem;
  color: rgb(24, 24, 24);
}

.nav-title .title-style {
  color: rgb(253, 110, 10);
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 40px;
}

nav ul a {
  text-decoration: none;
  color: rgb(71, 71, 71);
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.68rem;
  text-align: left;
}

/* Hero section styling */
#hero-section {
  margin: 3rem 2.375rem 0 14.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#hero-section .hero-content .greetings {
  color: rgb(71, 71, 71);
  font-size: 2.82rem;
  font-weight: 600;
  line-height: 4rem;
}
#hero-section .hero-content .name {
  color: rgb(24, 24, 24);
  font-size: 5.3rem;
  font-weight: 700;
  line-height: 7.25rem;
  text-align: left;
}
#hero-section .hero-content .description {
  color: rgb(117, 117, 117);
  font-size: 1.275rem;
  font-weight: 400;
  line-height: 2rem;
}

#hero-section .hero-content .buttons {
  margin-top: 2rem;
}
#hero-section .hero-content .buttons button:first-child {
  margin-right: 2rem;
}

#hero-section .hero-image img {
  max-width: calc(584px * var(--scale-factor));
  height: calc(676px * var(--scale-factor));
}
#hero-section .hero-content .buttons button img {
  margin-right: 5px;
}

/*** About section =========*/
main .about-section {
  max-width: calc(1140px * var(--scale-factor));
  margin: 112px auto;
  padding: 112px 135px;
  background-color: var(--primary-bg);
  border-radius: 10px;
}

main .about-section .about-content {
  background-color: #fff;
  text-align: center;
  padding: 8px;
}
main .about-content .about-title {
  color: rgb(24, 24, 24);
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 3rem;
}
main .about-content .about-description {
  color: rgb(117, 117, 117);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 2rem;
  margin: 2rem 0;
}
main .about-content .contact-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .about-content .contact-info p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .about-content .contact-info p span:first-child {
  color: rgb(117, 117, 117);
  font-size: 1.25rem;
}
main .about-content .contact-info p span:last-child {
  color: rgb(117, 117, 117);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 2rem;
}

/* Skill section style */

main .skill-section {
  max-width: calc(1140px * var(--scale-factor));
  margin: 0 auto;
  text-align: center;
}

main .skill-section .skill-heading {
  color: rgb(24, 24, 24);
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 4.1rem;
  text-align: center;
}

main .skill-section .skill-description {
  max-width: calc(909px * var(--scale-factor));
  margin: 0 auto;
  color: rgb(117, 117, 117);
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 2rem;
  text-align: center;
  margin: 20px auto 30px auto;
}
main .skill-section .skill-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}
main .skill-section .skill-cards .skill-card {
  border-radius: 5px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  background: rgb(255, 255, 255);
  padding: 27px 29px;
  text-align: left;
}
main .skill-section .skill-cards .skill-card img {
  width: 38px;
  height: 38px;
}
main .skill-section .skill-cards .skill-card .skill-title {
  color: rgb(24, 24, 24);
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.75rem;
  letter-spacing: 0%;
  text-align: left;
  margin: 20px 0;
}

main .skill-section .skill-cards .skill-card .card-descrip {
  color: rgb(117, 117, 117);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75rem;
  text-align: left;
}

/* *** ============ Resume styling ===========*/
main .resume-section {
  max-width: calc(1140px * var(--scale-factor));
  margin: 111px auto 98px auto;
  text-align: center;
}

main .resume-section .resume-btn img {
  margin-right: 8px;
}
main .resume-section .resume-heading {
  color: rgb(24, 24, 24);
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 4.2rem;
  text-align: center;
}

main .resume-section .resume-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  margin-bottom: 4.5rem;
}
main .resume-section .resume-cards .education {
  text-align: left;
  color: rgb(71, 71, 71);
  font-size: 2rem;
  font-weight: 700;
  line-height: 3rem;
  margin: 97px 0 27px 0;
}

main .resume-section .resume-cards .education-cards .edu-info-card {
  text-align: left;
  border-bottom: 1px solid rgb(209, 209, 209);
  margin-bottom: 2rem;
  padding: 0 60px 0 0;
}
main
  .resume-section
  .resume-cards
  .education-cards
  .edu-info-card
  .edu-card-title {
  color: rgb(71, 71, 71);
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2rem;
  text-align: left;
  margin-bottom: 8px;
}
main .resume-section .resume-cards .education-cards .edu-info-card .subtitle {
  color: rgb(117, 117, 117);
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.75rem;
  text-align: left;
}
main
  .resume-section
  .resume-cards
  .education-cards
  .edu-info-card
  .edu-details {
  color: rgb(117, 117, 117);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75rem;
  text-align: left;
  margin: 1.125rem 0;
}

/** Footer section style */
.footer-section {
  padding: 111px 198px;
  background-color: var(--primary-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}
.footer-section .footer-content .foot-title {
  color: rgb(24, 24, 24);
  font-size: 2rem;
  font-weight: 700;
  line-height: 4.2rem;
  text-align: left;
}
.footer-section .footer-content .footer-description {
  color: rgb(71, 71, 71);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75rem;
  text-align: left;
  margin: 1.125rem 0 1.9rem 0;
}

.footer-section .footer-content .foot-social a {
  font-size: 1.5rem;
  color: rgb(253, 110, 10);
  margin-right: 4px;
}
.contact-form .form-title {
  color: rgb(24, 24, 24);
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.2rem;
  text-align: left;
  margin-bottom: 1.75rem; ;
}

.contact-form form input {
  width: 100%;
  margin-bottom: 1.5rem;
  padding: 1.125rem 0 1.125rem 2rem;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  border: none;
  outline: none;
}
.contact-form form textarea{
  width: 100%;
  height: calc(180px * var(--primary-bg));
  border: none;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 1.5rem;
  outline: none;
}
